/**
 * Main wrapper
 */
 .select-search {
    width: 300px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
    position: relative;
    z-index: 1;
}

.select-search__value::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 9px);
    right: 19px;
    width: 11px;
    height: 11px;
}

/**
 * Input
 */
.select-search__input {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 40px 0 16px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select {
    background: #fff;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
}

/**
 * Options
 */
.select-search__options {
    list-style: none;
}

/**
 * Option row
 */
.select-search__row:not(:first-child) {
    border-top: 1px solid #eee;
}

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.select-search--multiple .select-search__option {
    height: 48px;
}

.select-search__option.is-selected {
    background: #2FCC8B;
    color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    background: #2eb378;
    color: #fff;
}

/**
 * Group
 */
.select-search__group-header {
    font-size: 10px;
    text-transform: uppercase;
    background: #eee;
    padding: 8px 16px;
}

/**
 * States
 */
.select-search.is-disabled {
    opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
    cursor: pointer;
}

/**
 * Modifiers
 */
.select-search--multiple {
    border-radius: 3px;
    overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    transform: rotate(45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    pointer-events: none;
}

.select-search--multiple .select-search__input {
    cursor: initial;
}

.select-search--multiple .select-search__input {
    border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
    cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color: #2FCC8B;
}


.select-search:not(.select-search--multiple) .select-search__select {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
    border-radius: 3px;
    overflow: auto;
    max-height: 360px;
}

.select-search--multiple .select-search__select {
    position: relative;
    overflow: auto;
    max-height: 260px;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
}

.select-search__not-found {
    height: auto;
    padding: 16px;
    text-align: center;
    color: #888;
}



.Canvas {
  min-height: 100vh;
}

.Cover {
  height: 420px;
  width: 272px;
  object-fit: cover;
  align-self: stretch;
  margin: 0px;
}

.CustomText {
  text-align: center;
  white-space: pre-wrap;
  font-synthesis: none;
  color: rgba(47, 47, 47, 1);
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  line-height: 25px;
  text-transform: none;
  align-self: stretch;
  margin: 6px 0px 0px 0px;
}

.MagazineContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  grid-gap: 20px;
}


.btn {
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}

.btn:hover {
  background: rgba(255,255,255,0.7);
  color: black;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-dropdowns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.SideBar {
  position: relative;
  top: 100px;
}

.search-result-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 50px;
  grid-gap: 10px;
}

.search-result-item {
    background: #EDEDDF;
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 711px;  /* If you want to limit the maximum width of each item */
    height: 151px;
}
.search-result-image-frame{
    display: flex;
    width: 95px;
    height: 139px;  
    background: #814141;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.search-result-image{
    width:89px;
    height:133px;
     /* This will animate the transform property */
}



.search-result-image-frame:hover{
    transform: scale(1.1); /* This will enlarge the image by 10% */
}

.search-result-text-frame{
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.search-result-header-frame{
    display: flex;
    padding: 3px 15px;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.search-result-magazine-name{
    color: rgb(73, 72, 72);
    font-size: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;

}
.search-result-magazine-name:hover{
    color: rgb(9, 101, 163);
    
}
.search-result-magazine-info{
    color: var(--search-result-year, #686868);
    text-align: center;
    font-size: 18px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search-result-highlighted-text{
    padding-top: 20px;
    padding-left: 30px;
    display: flex;
    width: 360px;
    flex-direction: column;
    color: var(--main-black, #2C2C2C);
    font-size: 18px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search-result-highlight-class {
    background-color: rgba(3, 125, 196, 0.596); /* change this to your desired color */
}

.search-result-page-wrapper{
    padding-bottom: 50px;
}


#response-list {
  border: none;
  overflow-y: auto;
  flex: 1;
}

.chatgpt-response {
  background-color: rgba(68, 70, 84, 1);
}

.my-question {
  background-color: rgba(52, 53, 65, 1);
}
/* Change background color of the input container */
#input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(64, 65, 79, 1);
  border-color: rgba(32,33,35,.5);
  border-radius: 5px;
  margin: 10px 200px;
}



/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------*/
/* styles for chatbot page*/
 
.chatbot-page{
  background-color: rgba(68, 70, 84, 1.0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

/* Remove background color and add an SVG background for the submit button */
#submit-button {
  background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='white' d='M2.01 21L23 12 2.01 3 2 10l15 2-15 2z'/></svg>") no-repeat center center;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#regenerate-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

#regenerate-response-button {
  color: white;
  border: none;
  background: #10A37F;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.loading {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

#model-select-container {
  margin: 10px 200px;
  color: white;
}

#model-select-container select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

#model-select-container select option:not(:checked) {
  background: rgba(32,33,35,.8);
}

#model-select-container select option {
  background: rgba(32,33,35,.5);
}
